{% extends "main.html" %}
{% block content %}

<div>
    <h3>Account Login</h3>
</div>
<!-- login form -->
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <label for="">Email: </label>
        <input type="email" name="Email" placeholder="Enter your email...">
        </div>
        
        <div>
            <label for="">Password: </label>
            <input type="password" name="Password" placeholder="*******"/>
        </div>
        <div>
            <input type="submit" value="Log In" />
        </div>
    </form>
    <div>
        <a href="{% url "google-login" %}">Login via Google</a>
    </div>
</div>


<div>
    <p>Don't have an Account?</p>
    <a href="{% url 'register' %}">Sign Up</a>
</div>

{% endblock content %}