{% extends "main.html" %}
{% load static %}
{% block content %}

{% if page == "all_products" %}
    <div>
        <h1>Total Products</h1>
        {% for product in products %}
            <ul>
                <li><a href="{% url "product" product.id %}">{{product.name}}</a></li>
            </ul>
        {% endfor %}
    </div>
{% else %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create-Product</button>
    </form>
{% endif %}

{% endblock content %}
