{% extends "main.html" %}
{% block content %}

<div>
    <h3>Account Login</h3>
</div>
<!-- login form -->
<form action="" method="POST" class="form auth__form">
    {% csrf_token %}
    <!-- Input:Username -->
    <div>
        <label for="">Username: </label>
        <input type="text" name="Username" placeholder="Enter your username..."/>
    </div>
    
    <!-- Input:Password -->
    <div class="form__field">
        <label for="">Password: </label>
        <input type="password" name="Password" placeholder="••••••••"/>
    </div>
    <div>
        <input type="submit" value="Log In" />
    </div>
</form>
<div class="auth__alternative">
    <p>Don't have an Account?</p>
    <a href="{% url 'register' %}">Sign Up</a>
</div>

{% endblock content %}